.about-us {
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
}
h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 75px;
  margin-bottom: 150px;
}
.fa-question-circle-o {
  font-size: 150px;
  color: rgb(247, 224, 25);
}
.fl {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.text {
  background-color: whitesmoke;
  color: black;
  border-radius: 4px;
  width: 40%;
  padding: 25px;
  margin: 10px;
  box-shadow: 3px 6px rgb(196, 194, 194);
}
@media screen and (max-width: 768px) {
   .text{
       width: 80%;
   } 
}
